@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}


@theme{

  --font-Inter :"Inter", sans-serif;
  --font-Jakatra:"Plus Jakarta Sans", sans-serif;
  --color-brand:#7E74F1;
  --color-primary:#232E35;
  --color-secondary:#656D72;
  --color-trinary:#F5F3FE;
  --color-heroname:#656D72;
  --color-sside:#D9D9D9;
}